.button-password {
  position: absolute;

  width: 20px;
  height: 17px;
  padding: 0;

  background: transparent no-repeat 50% 50%;
  background-image: url("../img/visible.svg");
  background-size: contain;

  border: 0;

  &--active {
    background-image: url("../img/invisible.svg");
  }
}

@media (min-width: $desktop-width) {
  .button-password {
    width: 25px;
    height: 21px;
  }
}
