.faq {
  margin-top: 25px;
}

.faq__list {
  @include list_unstyled;

  border-bottom: 1px solid #ededed;
}

.faq__item {
  padding: 17px 15px;

  border-top: 1px solid #ededed;
}

.faq__title {
  margin: 0;

  font-size: 16px;

  cursor: pointer;
}

.faq__item-wrapper {
  display: none;

  flex-direction: column;

  &--show {
    display: flex;
  }
}

.faq__information-list {
  display: flex;
  align-items: center;

  @include list_unstyled;
  margin-top: 5px;
}

.faq__information-item {
  margin-left: 15px;
  padding-left: 15px;

  font-size: 12px;

  &:first-child {
    margin: 0;
    padding: 0;
  }

  &--data {
    color: #9b9b9b;
  }

  &--followers {
    position: relative;

    color: #dc025e;
  }

  &--followers::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    content: '';
    width: 5px;
    height: 5px;

    background-color: #000000;

    border-radius: 50%;
  }

  &--answers {
    padding: 6px 15px;

    color: #666666;

    background-color: #f5f5f5;

    border-radius: 6px;
  }
}

.faq__text {
  margin: 15px 0 0 0;

  color: #333333;
  line-height: 18px;
}

.faq__full {
  align-self: flex-end;

  margin-top: 10px;
  padding: 10px;

  font-size: 14px;
  color: #ffffff;
  text-decoration: none;

  background-color: #6b6b6b;

  border-radius: 8px
}

.faq__notfound-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 45px;
}

.faq__notfound-title {
  font-size: 16px;
  text-transform: uppercase;
}

.faq__notfound-button {
  width: 209px;

  margin-top: 20px;
  padding: 10px 0;
}

@media(min-width: $desktop-width) {
  .faq {
    width: 100%;
    max-width: 1170px;
    margin: 25px auto 0;
    padding-bottom: 100px;
  }

  .faq__title {
    font-size: 18px;
  }

  .faq__information-list {
    margin-top: 20px;
  }

  .faq__information-item {
    margin-left: 18px;
    padding-left: 23px;

    font-size: 14px;
  }

  .faq__text {
    font-size: 16px;
    line-height: 21px;
  }

  .faq__full {
    padding: 8px 20px;

    font-size: 16px;
  }

  .faq__notfound-button {
    padding: 8px 0;

    font-size: 16px;
    font-weight: normal;
  }
}