.popup-question {
  display: none;

  z-index: 1000;

  position: fixed;
  left: 50%;
  top: 100px;

  flex-direction: column;

  width: 290px;
  margin-left: -145px;
  padding-bottom: 15px;

  background-color: #ffffff;

  border-top: 7px solid #dc025e;
}

body[data-current-value = "question"] {
  .popup-question {
    display: flex;
  }
}

.popup-qeustion__title {
  margin: 0;
  padding: 15px 0;

  width: 100%;

  text-align: center;
  font-size: 16px;
  text-transform: uppercase;

  background-color: #fef2f7;
}

.popup-qeustion__form {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  padding: 0 15px;

  & input {
    height: 30px;
    margin-top: 5px;
    padding: 3px 5px 0;
  }

  & textarea {
    height: 60px;
    margin-top: 5px;
    padding: 3px 5px;

    resize: none;
  }
}

.popup-question__button {
  align-self: center;

  width: 160px;
  margin-top: 15px;
  padding: 8px 0;
}

.popup-question__rules {
  margin: 15px 0 0;

  text-align: center;
  font-size: 14px;
  line-height: 18px;

  color: #999999;

  & a {
    color: #000000;
  }
}

.popup-question__closed {
  top: 5px;
  right: 5px;
}

@media(min-width: $desktop-width) {
  .popup-question {
    top: 113px;

    width: 440px;
    margin-left: -220px;
    padding-bottom: 37px;
  }

  .popup-qeustion__title {
    padding-top: 20px;

    font-size: 24px;
  }

  .popup-qeustion__form {
    margin-top: 25px;
    padding: 0 30px;

    & input {
      margin-top: 10px;

      padding: 8px 14px;

      font-size: 16px;
    }

    & textarea {
      height: 105px;
      padding: 10px 15px;

      font-size: 16px;
    }
  }

  .popup-question__button {
    width: 204px;
    margin-top: 30px;

    font-size: 16px;
  }

  .popup-question__rules {
    margin-top: 20px;
  }
  .popup-question__closed {
    width: 20px;
    height: 20px;
    right: 5px;

    &::before,
    &::after {
      width: 20px;
    }
  }
}