.salon {
  margin: 17px 0 0;
}

.salon__title {
  margin: 0;
  padding-left: 15px;

  font-size: 18px;
}

.salon__slider {
  margin-top: 12px;

  & .slider__img {
    cursor: pointer;
  }

  & .slider__button {
    height: 74px;
    width: 20px;
    margin: 0;
    padding: 0;

    svg {
      fill: #ffbfdb;
    }
  }
}

.salon__information-wrapper {
  margin-top: 20px;
  padding: 0 15px 10px;

  border-bottom: 1px solid #e9e9e9;
}

.salon__text {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.salon__rating {
  margin-top: 5px;

  & .rating-salon__point {
    font-size: 30px;
  }
}

.salon__affiliate {
  display: flex;
  justify-content: space-between;

  padding: 0 15px 8px;

  border-bottom: 1px solid #e9e9e9;
}

.salon__apartments {
  margin-top: 10px;
  padding: 0 15px 12px;

  border-bottom: 1px solid #eeeeee;
}

.salon__apartments-description {
  margin: 0;

  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

.salon__services-list {
  margin-top: 11px;
}

.salon__advice-description {
  margin: 10px 0 0;
  padding: 0 15px 20px;

  color: #707070;
  font-size: 12px;
  line-height: 15px;

  border-bottom: 1px solid #eeeeee;
}

.salon__contact {
  display: flex;
  flex-direction: column;

  padding: 0 15px;
}

.salon__contact-photo {
  display: none;
}

.salon__phones {
  margin-top: 12px;
}

.salon__workdays {
  margin-top: 10px;
}

.salon__contact-question {
  align-self: center;
  margin-top: 17px;
  padding: 0;

  font-size: 12px;
  color: #dc025e;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;

  background-color: transparent;
  border: 0;


  &::after {
    content: "?";

    display: inline-block;
    margin-left: 10px;

    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
}

.salon__contact-sing {
  align-self: center;

  margin-top: 10px;
}

.salon__social-list {
  display: flex;
  justify-content: center;

  @include list_unstyled;
  margin-top: 19px;
}

.salon__social-item {
  margin-left: 11px;

  &:first-child {
    margin-left: 0;
  }
}

.salon__contact-reach {
  align-self: center;
  margin: 19px 0 0;

  font-size: 14px;
  color: #000000;
}

.salon__contact-owner {
  align-self: center;

  margin-top: 11px;

  font-size: 14px;
  color: #dc025e;
  text-decoration: underline;

  background-color: transparent;
  border: 0;
}

.salon__information {
  display: none;
}

@media(min-width: $desktop-width) {
  .salon {
    display: flex;
    flex-wrap: wrap;

    max-width: 1170px;
    margin: 17px auto 60px;

    width: 100%;
  }

  .salon__slider {
    order: 1;

    margin-top: 30px;
  }

  .salon__wrapper {
    display: flex;

    width: 100%;
    margin-top: 10px;
    padding: 0 15px;
  }

  .salon__description {
    width: 100%;
    margin-left: 27px;
  }

  .salon__information-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0 0 10px;
  }

  .salon__text {
    align-self: center;

    max-width: 400px;
  }

  .salon__rating {
    justify-content: center;
    flex-direction: column;

    & .rating-salon__reviews {
      align-self: flex-end;

      margin-right: 0;
    }
  }

  .salon__affiliate {
    border-top: 0;

    padding: 0;
  }

  .salon__apartments {
    padding: 0 0 4px;
  }

  .salon__apartments-description {
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 20px;
  }

  .salon__services-list {
    margin-top: 5px;
  }

  .salon__advice-description {
    padding: 0 0 20px;

    font-size: 15px;
    line-height: 21px;

    border-bottom: 0;
  }

  .salon__contact {
    order: -1;

    min-width: 264px;
    padding: 0;

    border-top: 0;
  }

  .salon__contact-photo-wrapper {
    flex-shrink: 0;

    margin: 0;
  }

  .salon__contact-photo {
    display: block;

    border: 1px solid #ccc;
  }

  .salon__phones {
    margin-top: 24px;

    .phonebook__item {
      padding-right: 0;

      a::after {
        right: 0;
      }
    }

    .phonebook__popup {
      .phonebook__list {
        font-size: 17px;
      }

      .phonebook__popup-item {
        a::after {
          right: 0;
        }
      }
    }
  }

  .salon__workdays {
    align-self: center;
  }

  .salon__contact-question {
    width: 205px;
    padding: 8px 0;

    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;

    background-color: #6b6b6b;

    border-radius: 6px;

    &::after {
      display: none;
    }
  }

  .salon__contact-sing {
    width: 205px;
    padding: 8px 0;

    font-weight: normal;
  }

  .salon__social-list {
    margin-top: 33px;
  }

  .salon__contact-reach {
    font-weight: bold;
  }

  .salon__contact-owner {
    display: none;
  }

  .salon__information {
    display: block;

    margin-left: 30px;
  }

  .salon__information-report {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 260px;
    height: 180px;
    margin-top: 16px;

    border: 1px solid #d6d6d6;
  }

  .salon__report-list {
    display: flex;

    @include list-unstyled;
    margin-top: 12px;

    font-size: 12px;
    color: #666666;
  }

  .salon__report-item {
    padding-left: 24px;

    &--view {
      background: url('../img/eye.svg') no-repeat 0 50%;
      background-size: 18px;
    }

    output {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .salon__report-text {
    margin: 15px 0 0;

    text-align: center;
    font-size: 16px;
    color: #666666;
  }

  .salon__report-owner {
    margin-top: 12px;

    font-size: 16px;
    color: #dc025e;
    text-decoration: underline;
    font-weight: bold;

    background-color: transparent;
    border: 0;
  }

  .salon__report-error {
    width: 209px;
    margin-top: 12px;
    padding: 8px 0;

    color: #ffffff;
    font-size: 16px;

    background-color: #6b6b6b;
    border: 0;
    border-radius: 6px;
  }
}

