.select-date {
  position: relative;

  color: #717171;
}

.select-date__wish-day {
  display: flex;
  align-items: center;

  margin: 0;

  span {
    position: relative;
  }

  output {
    display: block;

    margin-left: 10px;
    padding: 9px 35px 9px 15px;

    font-size: 15px;
    color: #000000;

    background-color: #fff5f9;
  }
}

.select-date__wish-button {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translate(0, -50%);

  width: 15px;
  height: 9px;
  padding: 0;

  background: transparent url("../img/button-corner.svg") no-repeat 50% 50%;
  background-size: contain;
  
  border: 0;
}

.select-date__wish-time {
  margin: 10px 0 0;

  span {
    margin: 5px 7px 0;

    font-size: 15px;
    color: #000000;
  }

  input {
    display: inline-block;

    width: 44px;
    height: 31px;
    margin-top: 8px;
    padding: 7px 13px;

    background-color: #fff5f9;

    border: 0;
  }
}

.select-date__calendar {
  position: absolute;
  right: 0;
  top: 40px;
}

@media (min-width: $desktop-width) {
  .select-date {
    display: flex;
    align-items: center;
  }

  .select-date__wish-time {
    margin: 0 0 0 40px;

    br {
      display: none;
    }

    input {
      margin-top: 0;
    }
  }

  .select-date__calendar {
    left: 245px;
    top: -45px;
  }
}