.article-totals {
  margin: 35px 0;
}

.article-totals__title {
  font-size: 14px;
}

.article-totals__text {
  margin: 15px 0 0;
  padding: 0 15px;

  line-height: 15px;
  color: #333333;
}

@media (min-width: $desktop-width) {
  .article-totals__title {

    font-size: 21px;

    br {
      display: none;
    }
  }

  .article-totals__text {
    font-size: 16px;
    line-height: 21px;

    &:first-letter {
      margin-left: 10px;
    }
  }
}